html, body {
  --fei-border-base-radius: 3px;

  /* success-color */
  --fei-color-success: #52c41a;
  --fei-color-success-light1: #75d048;
  --fei-color-success-light2: #97dc76;
  --fei-color-success-light3: #bae7a3;
  --fei-color-success-light4: #dcf3d1;
  --fei-color-success-light5: #eef9e8;
  --fei-color-success-light6: #f6fcf4;
  --fei-color-success-active: #4ab017;
  /* info-color */
  --fei-color-info: #35495E;
  --fei-color-info-light1: #5d6d7e;
  --fei-color-info-light2: #86929e;
  --fei-color-info-light3: #aeb6bf;
  --fei-color-info-light4: #d7dbdf;
  --fei-color-info-light5: #ebedef;
  --fei-color-info-light6: #f5f6f7;
  --fei-color-info-active: #304255;
  /* warning-color */
  --fei-color-warning: #fa8c16;
  --fei-color-warning-light1: #fba345;
  --fei-color-warning-light2: #fcba73;
  --fei-color-warning-light3: #fdd1a2;
  --fei-color-warning-light4: #fee8d0;
  --fei-color-warning-light5: #fff4e8;
  --fei-color-warning-light6: #fff9f3;
  --fei-color-warning-active: #e17e14;
  /* danger-color */
  --fei-color-danger: #f5222d;
  --fei-color-danger-light1: #f74e57;
  --fei-color-danger-light2: #f97a81;
  --fei-color-danger-light3: #fba7ab;
  --fei-color-danger-light4: #fdd3d5;
  --fei-color-danger-light5: #fee9ea;
  --fei-color-danger-light6: #fff4f5;
  --fei-color-danger-active: #dd1f29;

  --fei-animation-duration-slow: 0.35s;
  --fei-animation-duration-base: 0.25s;

  --fei-shadow-popper: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

  --fei-tag-font-size: 14px;
  --fei-tag-height: 28px;


  --fei-scrollbar-width: 5px;
  --fei-scrollbar-radius: 5px;
}
