
.fei-select__popper.fei-popper {
  padding: 4px 0;
  .fei-select-dropdown {
    padding: 0 4px;
  }
  .fei-select-dropdown__item {
    border-radius: 4px;
  }
}

.fei-dropdown__popper.fei-popper[role=tooltip] {
  padding: 4px 0;
  .fei-dropdown-menu {
    padding: 0 4px;
  }
  .fei-dropdown-item {
    border-radius: 4px;
  }
}
